apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.fullName }}-nginx
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.nginx.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.fullName }}
      component: nginx
  template:
    metadata:
      labels:
        app: {{ .Values.fullName }}
        component: nginx
    spec:
      containers:
        - name: nginx
          image: {{ .Values.nginx.image }}
          imagePullPolicy: {{ .Values.nginx.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.nginx.port }}
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
      volumes:
        - name: nginx-config
          configMap:
            name: {{ .Values.fullName }}-nginx-config
