apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.fullName }}-db
  namespace: {{ .Release.Namespace }}
spec:
  instances: {{ .Values.postgres.instances }}
  imageName: {{ .Values.postgres.image }}
  storage:
    size: {{ .Values.postgres.storage }}
  bootstrap:
    initdb:
      database: {{ .Values.postgres.database }}
      owner: {{ .Values.postgres.user }}
      postInitApplicationSQLRefs:
        configMapRefs:
{{- $root := . }}
{{- range $filename, $sql := .Values.postgres.initdbScripts }}
          - name: {{ $root.Values.fullName }}-initdb
            key: {{ $filename }}
{{- end }}
